
.WorkspaceSelector {
    position: fixed;
    width: 60px;
    height: 100%;
    /* background-color: #101010; */
    z-index: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;

}


.imageDiv{
    /* border-radius: 5px; */
    /* overflow: hidden; */
    object-fit: cover;
    cursor: pointer;
    opacity: .5;
    position: relative;
    width: 100%;
    justify-content: center;
}